---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<!-- <div class="wordwrap">
  You can also find my articles on
  <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.
</div> -->
{% endif %} {% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %} {% for category in site.publication_category
%} {% assign title_shown = false %} {% for post in site.publications reversed %}
{% if post.category != category[0] %} {% continue %} {% endif %} {% unless
title_shown %}
<h2>{{ category[1].title }}</h2>
<hr />
{% assign title_shown = true %} {% endunless %} {% include archive-single.html
%} {% endfor %} {% endfor %} {% else %} {% for post in site.publications
reversed %} {% include archive-single.html %} {% endfor %} {% endif %} -->

<h2>Working Paper</h2>

<div class="publication-entry">
  <div class="publication-image">
    <img src="/images/res-ai-scibert.png" alt="Publication 1 Diagram" />
  </div>
  <div class="publication-details">
    <h3>The Narrow Depth and Breadth of Corporate Responsible AI Research</h3>
    <p>
      <a href="https://www.nurahmed.com/">Nur Ahmed</a>,
      <a href="https://sites.google.com/view/amit-das">Amit Das</a>,
      <a href="https://kirstenmartin.net/">Kirsten Martin</a>,
      <b>Kawshik Banerjee</b>
    </p>
    <!-- <p>
      <strong>Undergraduate Thesis [Manuscript Under Preparation]</strong>, 2024
      <span class="grant">(Grant Award @ RISE)</span>
    </p> -->
    <p>
      <strong>Full paper:</strong>
      <a href="https://arxiv.org/abs/2405.12193">arxiv.org/abs/2405.12193</a>
    </p>
    <p>
      <strong>Accepted Venue:</strong> International Conference on the Science
      of Science and Innovation (<a href="https://www.icssi.org/">ICSSI 2024</a
      >)
    </p>
    <p>
      <strong>Media coverage:</strong>
      <a href="https://www.nature.com/articles/d41586-024-02985-3"
        >Nature Index</a
      >,
      <a href="https://www.nature.com/articles/d41586-024-02832-5"
        >Nature News Feature</a
      >,
      <a
        href="https://montrealethics.ai/the-narrow-depth-and-breadth-of-corporate-responsible-ai-research/"
        >Montreal AI Ethics Institute</a
      >
    </p>
    <p class="abstract">
      The transformative potential of AI offers both remarkable opportunities
      and significant risks, emphasizing the need for responsible AI
      development. Despite increasing focus in this area, understanding of
      industry engagement in responsible AI research remains limited. Our
      analysis of over 6 million peer-reviewed articles and 32 million patent
      citations reveals that most AI companies exhibit minimal engagement in
      responsible AI, contrasting sharply with their dominant presence in
      conventional AI research. Leading AI companies produce significantly less
      responsible AI research than their conventional counterparts or top
      academic institutions. Our linguistic analysis indicates a narrow focus in
      industry research, with limited topic diversity. Additionally, our patent
      citation analysis uncovers a disconnect between responsible AI research
      and AI commercialization, suggesting a lack of incorporation of academic
      research into the products they develop. This gap highlights the risk of
      AI development with potential unintended consequences due to insufficient
      ethical consideration. Our findings underscore the urgent need for
      industry to engage publicly in responsible AI research to foster trust and
      address AI-induced harms.
    </p>
  </div>
</div>

<h2>Conference Paper</h2>

<div class="publication-entry">
  <div class="publication-image">
    <img src="/images/regression.jpeg" alt="Publication 2 Diagram" />
  </div>
  <div class="publication-details">
    <h3>Quantifying Shifts in Word Contexts from Social Media Data</h3>
    <p>
      <b>Kawshik Banerjee</b>, Md. Azmain Yakin Srizon, Md. Farukuzzaman Faruk,
      S.M. Mahedy Hasan, Md. Rakib Hossain
    </p>
    <p>
      <strong>Accepted Venue:</strong> 2nd International Conference on Big Data,
      IoT and Machine Learning (<a href="https://confbim.com/">BIM 2023</a>)
    </p>
    <p>
      <strong>Book Chapter:</strong> Data Driven Applications for Emerging
      Technologies (<em>forthcoming, by Taylor & Francis</em>)
    </p>
    <p class="abstract">
      Words denote different things in different contexts. But measuring the
      differences and concluding whether such differences are statistically
      significant or not is a big computational challenge. Previous methods
      either needed larger datasets or were computationally intensive. But in
      this study, following a relatively simpler approach on a self-curated
      dataset of about 4 million tweets from top 300 US universities, such
      issues have been addressed. Using regression on embedded vectors of words,
      it is shown here that, after the mass protest defending the rights of the
      African-American people in the USA in 2018, there has been a statistically
      significant (p &#x3c; 0.01) change in the usage of racial and ethnic
      stereotypical terms like "black" and "race," in comparison to trivial
      regular terms like "excited" and "welcome" in the social media. It is also
      shown how a word's association with other words can largely vary across
      time. Such methods can be used to address other problems in the field of
      computational linguistics in the future.
    </p>
  </div>
</div>
